.btn:hover, .btn > a:hover
{
    background-color: rgb(0, 60, 82);
    color:white;
}

.btn:focus, .btn > a:focus {
    background-color: rgb(0, 60, 82);
    color:white;
}

.btn{
    border-color: rgb(0, 60, 82);
}

div > main > img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.cover-container{
    border-radius: 2%;
    border-color:rgb(0, 60, 82);
    box-shadow: 0 0 50px #ccc;
}
/* 
.row{
    align-content: flex-start;
    display:flex;
    flex-flow:column
} */

.table-responsive th{
    cursor:pointer;
    background-color: rgba(0, 60, 82, 0.9);
    color: white;
}

.table-responsive th:hover{
    background-color: rgba(0, 60, 82, 1);
    color: white;
}

.table-responsive th[data-order="asc"]::after{
    content:"\25be";
}
.table-responsive th[data-order="desc"]::after{
    content:"\25b4";
}

.table-responsive th .clickable.clicked {
    background-color: rgba(0, 60, 82, 1);
  }